@import '../../@theme/styles/themes';

.anchor{
    display: flex;
    justify-content:space-between;
    cursor: pointer;
  }
  
  
  .anchor a{
    padding-right: 10px;
   
  }

  .plus{
    float: right !important;
    cursor: pointer;
  }