<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class='text-center'>View Admin User </nb-card-header>
        <nb-card-body>
            <form   #AddadminForm="ngForm"    >
                <div class="form-group row">
                <label for="" class="label col-lg-2 col-form-label">User Name</label> <br>
                  <div class="col-lg-10">
                    <input class="form-control col-lg-10" type="text" #uname='ngModel'  name="uname" id="uname" [(ngModel)]="adminUser.Username"  placeholder="" readonly/><br>
                  </div>
                </div> 

                <div class="form-group row">
                    <label for="" class="label col-lg-2 col-form-label">Name</label> <br>
                      <div class="col-lg-10">
                        <input class="form-control col-lg-10" type="text" #name='ngModel'  name="name" id="name" [(ngModel)]="adminUser.Name"  placeholder="" readonly/><br>
                      </div>
                    </div> 
                <div class="form-group row">
                    <label for="" class="label col-lg-2 col-form-label">Email</label> <br>
                      <div class="col-lg-10">
                        <input class="form-control col-lg-10" type="text" #email='ngModel'  name="email" id="email" [(ngModel)]="adminUser.Email"  placeholder=""  readonly/><br>
                      </div>
                    </div>                 
                 <br>
                
                 <div class="form-group row">
                    <label for="" class="label col-lg-2 col-form-label">Password</label> <br>
                      <div class="col-lg-10">
                        <input class="form-control col-lg-10" type="text" #pwd='ngModel'  name="pwd" id="pwd" [(ngModel)]="adminUser.Password" minlength="8" placeholder="" readonly/><br>
                      </div>
                </div> 
                 <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10" >
                      <div class="form-check" readonly >
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="add" [(ngModel)]="adminUser.Add" readonly disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                          Add Previlage
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10" >
                      <div class="form-check" readonly >
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="edit" [(ngModel)]="adminUser.Edit" readonly disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                          Edit Previlage
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10" >
                      <div class="form-check"  >
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="delete" [(ngModel)]="adminUser.Delete" readonly disabled>
                        <label class="form-check-label" for="flexCheckDefault">
                          Delete Previlage
                        </label>
                      </div>
                    </div>
                  </div>

                 <div class="form-group row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                      <button type="button" class="btn btn-danger btn-sm" (click)='closeForm()'>Close</button>&nbsp;
                    </div>
                  </div>
            </form>
        </nb-card-body>
      </nb-card>
  </div>
  </div>
  