<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>View Staff</nb-card-header>
        <nb-card-body>
        <div>
            <div class="d-flex justify-content-center">
                <img src="assets\images\{{imgPrev}}" alt="staffimage" >
            </div>
            <div>
                <div>
                    <h1 class="text-center">{{name}}</h1>
                </div>
                <div>
                    <h3 class="text-center">{{designation}}</h3>
                </div>
                <div>
                    <p class="text-center">{{about}}</p>
                </div>
            </div>
        </div>
                          
        </nb-card-body>
      </nb-card>
  </div>
  </div>
   