<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class='text-center'> <h5>Enquires</h5>    
        </nb-card-header>
        <nb-card-body>
            <nb-list> 
                <nb-list-item>
                    <!-- <h6 style ='width:5rem'><ion-icon name="search-outline"></ion-icon></h6> -->

                    <span style ='width:35rem'><input type="text"  class="search-input" placeholder="Search by Name" [(ngModel)]="srchName" id="listSearch1"></span>
                    <span style ='width:15rem'>
                        <input matInput  placeholder="Pick From Date" [nbDatepicker]="ngmodel" [(ngModel)]="fromDate" (change)="filterArray($event)">
                        <nb-datepicker #ngmodel ></nb-datepicker>                        
                    </span>
                    <span style ='width:15rem'>
                        <input  [min]="fromDate" matInput  placeholder="Pick To Date" [nbDatepicker]="formcontrol" [(ngModel)]="toDate" (change)="filterArray($event)">
                        <nb-datepicker #formcontrol></nb-datepicker>   
                  
                    </span>
                    <div>
                    <a (click)="filterArray($event)">
                            <ion-icon name="search-outline"></ion-icon>
                    </a>
                    <a (click)="resetSearch()">
                        <ion-icon name="refresh-outline"></ion-icon>
                    </a>   
                    </div>
                </nb-list-item>    
            </nb-list>
            <table class="table " id="excel-table">
                <thead>
                <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Enquired Date</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of Enquires | searchStaffName: srchName; let i=index;">
                <tr *ngIf=(!user.responded) class='table-primary unresponded-enquiry'>
                    <td>{{user.name}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.subject }}</td>
                    <td id="description">{{ user.message }}</td>
                    <td>{{ user.creation_date| date:'fullDate'}}</td>
                    <td><a (click)="sendResponse(user)"><ion-icon name="mail"></ion-icon></a> </td>
                </tr>
                <tr *ngIf=(user.responded)  >
                    <td>{{user.name}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.subject }}</td>
                    <td id="description">{{ user.message }}</td>
                    <td>{{ user.creation_date| date:'fullDate'}}</td>
                    <td><a (click)="sendResponse(user)"><ion-icon name="mail"></ion-icon></a> </td>
                </tr>
                </tbody>
            </table>
         </nb-card-body>
     </nb-card>
   </div>
</div>